.flex-container {
    display: flex;
    flex-direction: column;
    /* border: 5px solid red; */
    min-height: 100vh;
}

.flex-item {
    flex-grow: 1;
}
/* 600px 이상이면 */
@media (min-width: 600px) {
    .flex-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .flex-item {
        width: 50%;
        /* flex-basis: 50%; */
        /* flex-grow: 0; */
    }
}
@media (min-width: 900px) {
    .flex-item {
        width: 33%;
    }
}

